{% extends '::base.html.twig' %}

{% block body %}
<h1>Jokes</h1>
    {{  joke_actions(null, {'add': 'Ajouter une blague'}) }}
    {#<a href="{{ path('aiconoa_joke_add') }}" class="btn btn-success">Ajouter une blague</a>#}
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for joke in jokes %}
    <tr>
        <td>
            <a href="{{ path('aiconoa_joke_show', { 'id' : joke.id }) }}">{{ joke.title }}</a>
        </td>
        <td>
            {{  joke_actions(joke, {'edit': 'Editer', 'delete': 'Supprimer'}) }}
            {#<a href="{{ path('aiconoa_joke_edit', { 'id': joke.id}) }}" class="btn btn-default">Editer</a>#}
            {#<a href="{{ path('aiconoa_joke_delete', { 'id': joke.id}) }}" class="btn btn-warning">Supprimer</a>#}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}